<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolmobilityprovider">

    <application
        android:name=".CoolApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.main.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!-- add an intent filter for the callback url which &charge
             will call with the connect account result -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- make sure to use these string resources for scheme and host.
                You can redefine them in your ids.xml -->
                <data android:scheme="@string/andcharge_callback_scheme"
                    android:host="@string/andcharge_callback_host"
                    android:path="@string/andcharge_callback_path"/>

                <!-- or if you dont use a concrete path:
                    <data android:scheme="@string/andcharge_callback_scheme"
                        android:host="@string/andcharge_callback_host" />
                    -->

            </intent-filter>


        </activity>
    </application>

</manifest>